@tailwind base;
@tailwind components;
@tailwind utilities;
.directionInputSearch {
  direction: rtl;
}
@font-face {
  font-family: iranSansMed;
  font-weight: 500;
  src: url(../font/IRANSansX-Medium.ttf);
}
@font-face {
  font-family: iranSansBold;
  font-weight: 700;
  src: url(../font/IRANSansX-Bold.ttf);
}
@font-face {
  font-family: iranSansReg;
  font-weight: 400;
  src: url(../font/IRANSansX-DemiBold.ttf);
}
.addContacts {
  box-shadow: 0px 4px 32px 0px rgba(152, 68, 71, 0.08);
}
.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  filter: blur(24px);
}
.modals {
  position: absolute;
  z-index: 300;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
}
.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #984447 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
.gradImage {
  box-shadow: 0px 4px 32px 0px rgba(152, 68, 71, 0.08);
}